body, #root, .container-fluid {
  color: black;
  height: 100vh;
  background-color: white;
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
  margin: 0;
}

.container-fluid {
  padding:0;
}

.row {
	margin: 0;
}

a {
  text-decoration: none;
}

.input-password input{
	color: #967D4D
}